.row
  .col-lg-12
    = month_calendar events: @events do |date, events|
      .row
        .col-lg-12

          .row
            .col-lg-12
              .pull-right
                %p.lead
                  = link_to date.day, new_event_path(start_date: date.to_s), class: "link"

              .clearfix

          - if events.any?
            - if events.many? && (event = events.shift)
              .row
                .col-lg-12
                  .event{ style: "background-color: ##{event.color}" }
                    = link_to event.name, edit_event_path(event), class: "link truncate"

              .row.top10
                .col-lg-12
                  .other-events
                    = link_to "#{events.count} more...", "#", class: "text-warning"


            - else
              .row
                .col-lg-12
                  .event{ style: "background-color: ##{events.first.color}" }
                    = link_to events.first.name, edit_event_path(events.first), class: "link truncate"
