.simple-calendar
  .row
    .col-lg-12
      = fa_icon("user-circle")
      = current_user.email
      = link_to "notes(#{current_user.notes.count})", users_notes_path
      = link_to "logout", destroy_user_session_path, method: :delete

  .calendar-heading
    .pull-left
      %p.lead 
        #{t('date.month_names')[start_date.month]} #{start_date.year}

    .pull-right
      = link_to t('simple_calendar.previous', default: 'previous'), calendar.url_for_previous_view
      = link_to "today", root_path(start_date: date_today)
      = link_to t('simple_calendar.next', default: 'next'), calendar.url_for_next_view

    .clearfix

  %table.table.table-bordered.table-responsive
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th
            .pull-right
              %p= t('date.abbr_day_names')[day.wday]

    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block)
                - capture_haml(day, sorted_events.fetch(day, []), &block)
              - else
                - block.call day, sorted_events.fetch(day, [])

